<%# <body class="index" style="background-image:url(http://mr-sweeneytodd.com/wp-content/uploads/2014/11/22.jpg)"> %>

<h1>Reschedule Your Fade</h1>

<%= render 'form', appointment: @appointments_path %>
<div>
    <p class="update"><%= link_to 'Home', appointments_path %></p>
</div>
<%# </body> %>